button {
    padding: 10px 20px;
    background-color: rgb(9, 9, 9);
    border: 1px solid #b9e2f3;
    border-radius: 5px;
    color: aqua;
}
label:first-of-type::before {
    content : "🧑";
}
label:last-of-type::before {
    content : "🔒";
}