
/* form styling*/

#form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(234, 235, 228);
}

#form-container form {
    border: 1px solid;
    padding: 20px;
    border-radius: 8px;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px black;
}
#form-container label {
    font-weight: bold;
    font-style: italic;

}